<!doctype html>
<html lang="fr" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Ferme de la Fougère - Ferme maraîchère bio</title>
    <meta name="description" content="Ferme de la fougere, ferme maraîchère bio ">

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-... (integrity hash) ..." crossorigin="anonymous" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body style="background-color: #0D5127">

<nav class="navbar navbar-expand-md navbar-dark fixed-top text-center" style="background-color: #0D5127">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('uploads/images/logo.jpg') }}" alt="logo" height="100px">La Ferme de la fougère</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item mx-auto">
                    <a class="nav-link" href="{{ path('app_nous') }}">A propos</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link" href="{{ path('app_recipes') }}">Mes recettes</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link" href="{{ path('app_product') }}">Nos produits</a>
                </li>

            </ul>
            <div class="speed-menu">
                {% if app.user %}
                    <a href="{{ path('app_account') }}"><i data-feather="user"></i>{{ app.user.prenom }}</a>
                {% else %}
                    <a href="{{ path('app_login') }}"><i data-feather="user"></i></a>
                {% endif %}
                <a href="{{ path('app_cart') }}">
                    <i data-feather="shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

<main style="padding: 75px">
    <div class="container">
        {%  for label, messages in app.flashes %}
            {%  for message in messages %}
                <div class="mt-4 alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %} {% endblock %}

    <!-- FOOTER -->
    <footer class="container ">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center text-center">
                <p> La Ferme de la fougère<br>
                    5 rue Louis Guyardin<br>
                    52190 DOMMARIEN</p>
            </div>
            <div class="col-md-4 d-flex align-items-center text-center">
                <iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2685.8813025399454!2d5.345009983382296!3d47.68672508905409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ed39064a28d8f9%3A0xeb05a5117aff7445!2s5%20Rue%20Guyardin%2C%2052190%20Dommarien!5e0!3m2!1sfr!2sfr!4v1713122479580!5m2!1sfr!2sfr" width="350" height="275" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <div class="row align-items-center text-center">
                    <div class="col-auto my-3">
                        <i class="fab fa-facebook-f mr-3"></i>
                    </div>
                    <div class="col-auto ">
                        <p class="mb-0">Ferme de la fougère</p>
                    </div>
                </div>
                <div class="row align-items-center text-center">
                    <div class="col-auto my-2">
                        <i class="fab fa-instagram mr-3"></i>
                    </div>
                    <div class="col-auto">
                        <p class="mb-0">@fermedelafougere</p>
                    </div>
                </div>
            </div>


        </div>
    </footer>

    <script src="{{ asset ('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset ('assets/js/global.js') }}"></script>
</body>
</html>
